<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753032829506-sctsaqr52uphm05jlnp30mf95pne1705.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753032829506-sctsaqr52uphm05jlnp30mf95pne1705</string>
	<key>API_KEY</key>
	<string>AIzaSyDDgbkdDh2VJ-ZGrk-x_WT_gJM08Sqt4c0</string>
	<key>GCM_SENDER_ID</key>
	<string>753032829506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.axistech.passengers</string>
	<key>PROJECT_ID</key>
	<string>passengers-8edc9</string>
	<key>STORAGE_BUCKET</key>
	<string>passengers-8edc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753032829506:ios:bc6ef15bf7da61725a2bdb</string>
</dict>
</plist>